*{
  margin:0;
}
body{
  background-image: url("https://wallpapertag.com/wallpaper/full/a/8/5/143963-widescreen-gym-wallpaper-1920x1080.jpg");
  background-repeat:repeat;
		background-attachment:fixed;
		overflow:scroll;
}
#crnt_pge_nme{
  width: 20%;
  display:inline-block;
  text-align: left;
  float:left;
  background-color: black;
}
#crnt_pge_nme a{
  text-decoration: none;
  color:white;
}
#crnt_pge_nme h2{
  font-size: 40px;
  margin: 0px;

}
.rightmenu{
    border-radius:5px;
    opacity: 1;
    margin-left: 5%;
    background: linear-gradient(to right, #eaf7ff, #ffffff, #ffeded);
    width: 90%;
    display:inline-block;
}
#navbar_links{
    text-align: center;
    padding: 30px;
}
#navbar_links li{
    cursor:pointer;
    display:inline;
    padding: 30px;
}
#navbar_links li a{
    text-decoration:none;
    font-family: 'PT Sans', sans-serif;
    color:black;
}
#navbar_links li span{
  color:black;
}
#navbar_links li:hover {
    background-color:#adaaaa;
}
#navbar_links li:hover .nav_link{
    color:black;
}
#gallery-content{
  /* height: 100%; */
    border-radius: 5px;
    opacity: 0.9;
    background: linear-gradient(to right, #eaf7ff, #ffffff, #ffeded);
    width: 90%;
    margin-left: 5%;
}
#gallery-images
{
  margin-top: 20px;
  opacity: 0.8;
}
.gallery_image{
  opacity: 1;
  background-color:white;
  position: relative;
  display:inline-block;
  margin:0 10px;
  border-radius: 2%;
}
.gallery_image img{
  border-radius: 2%;
  margin:0;
  width: 240px;
  cursor: pointer;
  object-fit: contain;
}
footer{
    background-color: black;
    opacity: 0.9;
    color:white;
    margin-top: 50px;
    text-align:center;
}
footer ul li{
    margin: 0px 10px;
    list-style: none;
    display:inline-block;
}
#instagram_link img{
    border-radius: 50%;
}
#google_plus_link img{
    border-radius:50%;
}
#facebook_link img{
    border-radius: 50%;
}
