*{
  margin:0px;
  padding: 0px;
  font-family: 'PT Sans', sans-serif;
}
.rightmenu{
  position: absolute;
  /* background-color:green; */
  margin-left: 13%;
}
.rightmenu li{
  display:inline-block;
  padding: 15px 20px;
}
.rightmenu a{
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.rightmenu a:hover{
  color:blue;
}
.fa{
  margin-right: 5px;
}
#trnr {
position:relative;
}
#mem_name{
position:absolute;
top:20%;
left: 10%;
font-family: serif;
opacity: 0.9;
font-size: 50px;
}
#mem1_img img{
  z-index: -1s;
}
#abt_trnr{
  margin-top: 5px;
}
.mem_content  {
position: relative;
left: 25%;
width: 70%;
text-align: justify;]
color:black;
text-shadow: 0.5px blue;
font-size:22px;
}
#scl_hdls{
  position:absolute;
  top: 40%;
  left: 10%;
  width: 100px;
}
#scl_hdls li{
  margin-top: 10px;
  list-style: none;
}
#sep{
  width: 70%;
  background:linear-gradient(to right, orange, white);
  height: 10px;
  margin-left: 25%;
}
